.jarvis-header {
  height: 60px;
  background: #244a7c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0;
  font-size: 14px;
  width: 100%;
}

/* título */

.jarvis-header-title {

  font-weight: 600;

}

/* info derecha */

.jarvis-header-info {

  display: flex;

  gap: 12px;

}

/* badges */

.jarvis-header-badge {

  background: rgba(255,255,255,0.15);

  padding: 6px 10px;

  border-radius: 4px;

  font-size: 12px;

}

.jarvis-mobile-menu {

  display: none;

  background: none;
  border: none;

  color: white;

  margin-right: 16px;

}
.jarvis-menu-button{

  display:none;

  background:none;
  border:none;

  color:white;

  margin-right:16px;

}

/* MOBILE */

@media (max-width: 768px) {

  .jarvis-mobile-menu {

    display: block;

  }
  .jarvis-menu-button{
    display:block;
  }


}