#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.app-layout {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 240px 1fr;
  grid-template-areas:
    "header header"
    "nav content";
  height: 100vh;
  width: 100%;
}

.app-header {
  grid-area: header;
}

.app-nav {
  grid-area: nav;
  background: #f2f2f2;
}

.app-content {
  grid-area: content;
}