html,
body,
#root {
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  background: #2b5aa6;
  color: white;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}