.jarvis-table-container {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.jarvis-table-wrapper {
  max-height: 70vh; /* Ideal para monitoreo sin perder los headers */
  overflow: auto;
}

/* Custom Scrollbar para un look más limpio */
.jarvis-table-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.jarvis-table-wrapper::-webkit-scrollbar-thumb {
  background: #CBD5E0;
  border-radius: 10px;
}

.jarvis-table {
  border-collapse: separate;
  border-spacing: 0;
}